<footer class="footer">
	<div class="content has-text-centered">
		<p>
			<strong>BookManagement</strong> by
			<%= link_to 'https://github.com/suke0828' do %>
			suke0828 <i class="fab fa-github"></i>
			<% end %>
			
			The repository by Github
			<%= link_to 'https://github.com/suke0828/Book_management' do %>
			Book_management <i class="fab fa-github"></i>
			<% end %>
		</p>
	</div>
</footer>
