<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<div class="navbar-item title">
			<%= link_to 'Book Management', root_path %>
		</div>
	</div>
</nav>
