<div class="container">
  <div class="block">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="panel">
        <h1 class="panel-heading">書籍登録</h1>
        <div class="panel-block">
          <div class="control p-6">
            <%= form_with(url: books_path, model: Book.new) do |form| %>
            <div class="panel-block is-fullwidth">
              <div class="control">
                <%= form.label :isbn, "ISBNコード", class: "label" %>
                <%= form.text_field :isbn, class: "input", placeholder: "ISBNコードを入力" %>
              </div>
            </div>
            <div class="panel-block">
              <%= form.submit :"登録", class: "button is-fullwidth" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
