<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">書籍追加</h1>
      <button class="delete" aria-label="close" id="delete"></button>
    </header>
    <section class="modal-card-body">
      <div class="container">
        <div class="control p-6">
          <%= form_with(url: books_path, model: Book.new) do |form| %>
          <div class="control py-6">
            <%= form.label :isbn, "ISBNコード", class: "label" %>
            <%= form.text_field :isbn, class: "input", placeholder: "ISBNコードを入力" %>
          </div>
          <%= form.submit :"登録", class: "button is-fullwidth" %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
</div>
