<h1>書籍登録</h1>
  <%= form_with(model: @book, local: true) do |form| %>
  <div>
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>
  <div>
    <%= form.submit %>
  </div>
  <% end %>
