@import '~bulma/css/bulma.min';

a {
	color: olivedrab;
}

.button {
	background-color: olivedrab;
	color: white;
	font-weight: bold;
	text-align: center;
	&:hover {
		background-color: white;
		color: olivedrab;
	}
}

.table{
	border: 5px solid olivedrab;
	border-collapse: separate;
	border-spacing: 10px;
	margin: auto;
	text-align: center;
	width: 70%;
	tr{
		td {
			border: 3px solid olivedrab;
			box-shadow: 1px 1px;
			color: olivedrab;
			font-weight: bold;
		}
		th{
			background-color: olivedrab;
			color: white;
			white-space: nowrap;
		}
		th.table-index {
				width: 5px;
			}
	}
}

.tabs{
	font-weight: bold;
	a{
		color: white;
		background-color: olivedrab;
		&:hover{
			color: olivedrab;
			background-color: white;
		}
	}
	li.is-active{
		a{
			background-color: white;
			color: olivedrab;
		}
	}
}
