@import '~bulma/css/bulma.min';

a {
	color: olivedrab;
	display: block;
}

.button {
	background-color: olivedrab;
	color: white;
	font-weight: bold;
	text-align: center;
	&:hover {
		background-color: white;
		color: olivedrab;
	}
}

.input {
	border-color: olivedrab;
}

.inverted {
	a {
		background-color: olivedrab;
		color: white;
		&:hover {
			background-color: white;
			color: olivedrab;
		}
	}
}

.label {
	color: olivedrab;
}

.panel-heading {
	background-color: olivedrab;
	color: white;
	text-align: center;
}

.table {
	border: 5px solid olivedrab;
	border-collapse: separate;
	border-spacing: 10px;
	margin: auto;
	text-align: center;
	width: 70%;
	tr {
		td {
			border: 3px solid olivedrab;
			box-shadow: 1px 1px;
			color: olivedrab;
			font-weight: bold;
			padding: 0;
			a {
				padding: 8px 12px;
			}
		}
		th {
			background-color: olivedrab;
			color: white;
			white-space: nowrap;
		}
		.table-index {
				width: 5px;
			}
	}
}

.tabs {
	font-weight: bold;
	li.is-active {
		a{
			background-color: white;
			color: olivedrab;
		}
	}
}
